<section class="footer">
    <div class="go-up">
      <a class="goUp" href="#welcome-section">Go Up</a>
    </div>
    <div class="social">
      <a id="profile-link" href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
      <a id="profile-link" href="https://www.linkedin.com/in/patrice-lamarre-62054625b/" target="_blank"><i class="bi bi-linkedin"></i></a>
      <a id="profile-link" href="https://github.com/krabdoble/MiPortfolioEn" target="_blank"><i class="bi bi-github"></i></a>
      <a id="profile-link" href="mailto:patricelmrr@gmail.com" target="_blank"><i class="bi bi-envelope-at-fill"></i></a>
    </div>
    <div class="create">
      Created by Lamarre Patrice 2023
    </div>
  </section> 
