.section1{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
   
    padding: 20% 10% 10% 10%;
}

h1{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    
}
.section1 .text h1{
    display: flex;
}
p{
    font-size: 18px;
    text-align: center;
    font-style: italic;
    color: orangered;
    font-weight: bold;
}
.image-hero{
    width: 100%;
    height: 100%;
}
.section2{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}