<section id="aboutMe" class="experience">
    <h2 class="section-title">Personal Information</h2>
    <div class="row">
        <div class="col1 col-12 col-md-4">
            <h3 class="section-title">About me</h3>
            <p class="section-text">My name is Lamarre Patrice, Responsive Website Design, I currently live in the United States of America.
                I speak Spanish, French, English and commercial Portuguese. I am a proactive person, I like to work as a team,
                As time passes, I really like to play Chess and listen to music..
            </p>
        </div>
        <div class="column col2 col-12 col-md-4">
                <i class="bi bi-mortarboard-fill"></i> <!--ICONO DE BOOTSTRAP-->
                <h3 class="section-title">Certificate</h3>
                <p>Graduated as an Organization Analyst in December 2022, I have the certificate of
                    ArgentineFirst stage program, freeCodeCamp certificate as a responsive web design, certified as a frontend developer Argentina program4.0 .
                </p>
                <div class="badges-container">
                    <span class="badge text-bg-primary">Web Designer</span> <!--aGREGO DE BADGE UTILIZANDO BOOTSTRAP-->
                    <span class="badge text-bg-primary">HTML</span>
                    <span class="badge text-bg-primary">CSS</span>
                    <span class="badge text-bg-primary">DataBase</span>

                </div>
        </div>
        <div class="column col3 col-12 col-md-4">
             <!-- DESARROLLO WEB -->
                    <div class="text">
                        <i class="icono bi bi-laptop"></i> <!--ICONO DE BOOTSTRAP-->
                        <h3 class="section-title">Student</h3>
                        <p> I studied the basics of python, C in college, I learned MySQL DataBase, TypeScript, Jquery, Bootstrap on my own. I am studying to perfect myself as a frontend developer
                            and backend.</p>
                    </div>
                    <div class="badge2 badges-container">
                        <span class="badge text-bg-primary">Python</span>
                        <span class="badge text-bg-primary">C</span>
                        <span class="badge text-bg-primary">JavaScript</span>
                        <span class="badge text-bg-primary">JQUERY</span>

                    </div>


        </div>
    </div>
</section>
