<section  class="section4">
    <div class="row">
       <div class="column col-12 col-md-4">
          <p class="text1">Let's talk!</p>
       </div>
       <div class="column col-12 col-md-4">
          <p class="text2">Contact me to start your web development project. I learn and create every day...</p>
       </div>
       <div id="contact" class="column col-12 col-md-4">
          <a href="mailto:patricelmrr@gmail.com"><button>Contact <i class="bi bi-envelope-at-fill"></i></button></a>
       </div>
    </div>
  </section>
