<section class="section3" id="projects">
    <div class="some-works"><h2>These are some of my projects</h2></div>
    <div class="row">
      <div class="column col-12 col-md-4">
        <div class="project">Project1</div>
        <div class="col1 link">
          <a href="https://github.com/krabdoble/patricelamarrePortfolio.github.io" target="_blank" rel="noopener noreferrer"><i id="icon" class="bi bi-github"></i></a>
          <a href="https://krabdoble.github.io/patricePortfolio/" target="_blank" rel="noopener noreferrer"><i id="icon" class="bi bi-laptop"></i></a>
        </div>
        <img class="image-project" src="assets/project9.jpg" alt="my first work">
        
      </div>
      <div class="column col-12 col-md-4">
        <div class="project">Project2</div>
        <div class="col1 link">
          <a href="https://github.com/krabdoble/portafolio" target="_blank" rel="noopener noreferrer"><i id="icon" class="bi bi-github"></i></a>
          <a href="https://krabdoble.github.io/patricePortafolio" target="_blank" rel="noopener noreferrer"><i id="icon" class="bi bi-laptop"></i></a>
        </div>
        <img class="image-project" src="assets/project8.jpg" alt="my second work">
        
      </div>
      <div class="column col-12 col-md-4">
        <div class="project">Project3</div>
        <div class="col1 link">
          <a href="https://github.com/krabdoble/RepoForm" target="_blank" rel="noopener noreferrer"><i id="icon" class="bi bi-github"></i></a>
          <a href="https://krabdoble.github.io/RepoForm/" target="_blank" rel="noopener noreferrer"><i id="icon" class="bi bi-laptop"></i></a>
        </div>
        <img class="image-project" src="assets/project5.jpg" alt="my third work">
        
      </div>
    </div>
  </section>
